@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: black;
    color: white;
}

.header__logo {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links__item {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-size: 25px;
}

.header-navigation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

main {
    background-color: white;
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    color: black;
}

.text-decor {
    color: black;
    font-weight: 700;
}

.section-games__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content-right-column {
    padding-right: 50px;
    border-right: 10px solid black;
    height: fit-content;
}

.img-game {
    width: 250px;
    height: 300px;
}

.section-img__game {
    width: 300px;
    text-align: center;
    margin-left: 100px;
    border: 2px solid black;
    padding: 0 3px 30px 3px;
    border-radius: 25px;
    margin-top: 10px;
}
.section-img__game img{
    border-radius: 0 0 25px 25px;
}
.section-img__game p {
    text-align: left;
}

.button-game {
    text-decoration: none;
    width: 200px;
    height: 40px;
    background-color: black;
    padding: 10px;
    color: white;
    border:none;
    border-radius: 5px;
}

footer{
    padding-top: 50px;
    text-align: center;
}
.footer__info{
    display: flex;
    align-items: center;
}
.footer__contacts{
    margin: 0 50px;
}
.white-line{
    width: 400px;
    border-top: 2px white solid;
}


.section-about-game{
    color: black;
}
.section-about-game-wrapper{
    display: flex;
}
.carousel{
    width: 400px;
    height: 500px;
}
.carousel-item img{
    width: 400px;
    height: 500px;
}
.button-pay{
    text-decoration: none;
    width: 200px;
    height: 40px;
    background-color: black;
    padding: 10px;
    color: white;
    border:none;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    text-align: center;
}